            <MudPaper MaxWith="true" Elevation="0" Class="py-1">
                <MudStack Justify="Justify.SpaceEvenly" Row="true">
                    <MudButton Variant="Variant.Outlined" Color.Dark.Lighten Style="@($"width: 250px")" Href="/login">Войти</MudButton>
                    <MudButton Variant="Variant.Outlined" Color.Dark.Lighten Style="@($"width: 250px")"Href="/register">Зарегистрироваться</MudButton>
                    <MudButton Variant="Variant.Outlined" Color.Dark.Lighten Style="@($"width: 250px")"Href="/">Главная</MudButton>
                    <div>
                    <MudTooltip Text="Telegram">
                        <MudFab Icon="@Icons.Custom.Brands.Telegram" Color="Color.Primary" Href= "https://telegram.org"/>
                    </MudTooltip>
                    <MudTooltip Text="WhatsApp">
                        <MudFab Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Primary" Href="https://web.whatsapp.com/" />
                    </MudTooltip>
                    </div>
                </MudStack>
            </MudPaper>